<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sanket.musicalstructure">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ArtistActivity"
            android:label="Artists"/>
        <activity android:name=".ComposerActivity"
            android:label="Composers"/>
        <activity android:name=".ControlActivity"
            android:label="Playback control"/>
        <activity android:name=".AlbumActivity"
            android:label="Albums"/>
        <activity android:name=".PlaylistActivity"
            android:label="Playlists"/>
        <activity android:name=".RecentlyPlayedActivity"
            android:label="Recently played"/>
        <activity android:name=".GenreActivity"
            android:label="Genre">
        </activity>
    </application>

</manifest>